<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server/start.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Static content in client directory -->
        <rule name="StaticContent">
          <match url="^((?!api|server).)*$" />
          <action type="Rewrite" url="client{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
        </rule>
        
        <!-- API and all other requests -->
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="server/start.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="node.exe" 
             watchedFiles="web.config;server/*.js" 
             loggingEnabled="true"
             devErrorsEnabled="false" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <appSettings>
    <add key="PORT" value="8080" />
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration>