<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server/start.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- First, redirect to https -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        
        <!-- Static content in client directory -->
        <rule name="Static Content" stopProcessing="true">
          <match url="^(?!api)(.*)$" />
          <action type="Rewrite" url="client/{R:1}"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="client/{R:1}" matchType="IsFile" />
          </conditions>
        </rule>
        
        <!-- Default page redirection -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_URI}" pattern="^/api" negate="True" />
          </conditions>
          <action type="Rewrite" url="client/index.html" />
        </rule>
        
        <!-- API requests -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="server/start.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node.exe" 
      watchedFiles="web.config;server/*.js;server/**/*.js" 
      loggingEnabled="true"
      debuggingEnabled="false" />
    <security>
      <requestFiltering removeServerHeader="true" />
      <hiddenSegments>
        <add segment="node_modules" />
        <add segment="iisnode" />
      </hiddenSegments>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>